
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*,::before,::after{ margin: 0; box-sizing: border-box;}
a{text-decoration: none;}
button{ padding: 0; cursor: pointer;}
:disabled{ cursor: not-allowed;}
img{ vertical-align: bottom;}
iframe{ border: none;}
ul{ list-style: none; padding: 0;}
label{ display: inline-block;}


html{
    font-size:16px;
    --fLato: "Lato", sans-serif;
    --fPlay:"Playfair Display", serif;
    
    --primaryColor:#6ab04c;
    --secondaryColor:#1e272e;

    --light:#fff;

    scroll-behavior: smooth;
}


body{
    font: 16px var(--fLato)
}

.container{
    max-width: 1220px;
    margin: auto;
    padding: 0 1rem;
}

.row{display: flex; flex-flow: row wrap; margin: 0 -1rem; }
[class^="col-"]{ padding: 0 1rem; flex: 1 0 auto; }

.col-1{ flex-basis: 8.33%; max-width: 8.33%; }
.col-2{ flex-basis: 16.66%; max-width: 16.66%; }
.col-3{ flex-basis: 25%; max-width: 25%; }
.col-4{ flex-basis: 33.33%; max-width: 33.33%; }
.col-5{ flex-basis: 41.66%; max-width: 41.66%; }
.col-6{ flex-basis: 50%; max-width: 50%; }
.col-7{ flex-basis: 58.33%; max-width: 58.33%; }
.col-8{ flex-basis: 66.66%; max-width: 66.66%; }
.col-9{ flex-basis: 75%; max-width: 75%; }
.col-10{ flex-basis: 83.33%; max-width: 83.33%; }
.col-11{ flex-basis: 91.66%; max-width: 91.66%; }
.col-12{ flex-basis: 100%; max-width: 100%;}

.flex{display:flex}
.img-resp{ max-width: 100%; height: auto;}
.align_center{align-items: center;}
.justify_center{justify-content:center;}

/* Header */
header{padding: 10px 0px; color: var(--primaryColor); background: var(--light);}


a.logo{display: inline-block;}

.navigation{display: flex; justify-content: end;}
nav ul{display: flex;}
nav li a{display: inline-block; padding: 0px 1rem; color: var(--secondaryColor);}
nav li a:hover, nav li.active a{color: var(--primaryColor);}

.cart{margin: 0px 10px 0px 0px;}
.cart a{display: inline-block; color: var(--primaryColor);}

.mobile_menu{margin: 0px 10px; color: var(--primaryColor); font-size: 20px; display: none;}

/* Banner */
.banner{background: url(../images/hero1-img.jpg) top center / cover no-repeat; color: var(--light); display: flex;}
/* .banner-content{
    display: flex;
    flex-wrap: nowrap;
    margin: 0px auto;
    padding: 100px 0px;
}

.banner-content .text{
    flex-direction: column;
    padding-right: 60%;
    font-family: var(--fLato);
    padding-bottom:60px;
} */
.banner-content{
    display: flex;
    flex-wrap: nowrap;
    margin: 0px auto;
    align-items: start;
    padding: 100px 0px 100px 60px;

}
.banner-content .text{
    flex-direction: column;
    margin-right: 50%;
    font-family: var(--fLato);
    padding:60px;
    background: rgba(0, 0, 0, 0.6);
}
.banner-content .text h4{font-size: 1rem; font-weight: 600; color: #fff;}
.banner-content .text h1{font-size: 4.4rem; font-weight: 700; line-height: 1.2em; font-family: var(--fPlay);}
.banner-content .text p{margin-bottom: 1.6em;}
.banner-content .text .buy{display: inline-block; text-align: center; color: #fff; background-color: transparent; border: 2px solid #fff; border-radius: 35px; padding: 15px 40px;}


/* sections */
.section-block{
    padding: 50px 0px; position: relative;
}

.heading-block{text-align: center;}
.heading-block h4{color: var(--primaryColor);}
.heading-block h2.title{
    font-size: 3rem;
    margin-bottom: 60px;
    position: relative;
    font-family: var(--fPlay);
}
.heading-block .title::after{
    position: absolute;
    height: 3px;
    width: 70px;
    content: "";
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -10px;
    background: var(--primaryColor);
}
.heading_patch{position: absolute; z-index: -1; left: 50%; transform: translateX(-50%);}
.heading_patch svg{vertical-align: middle;}
.patch_color {
    fill: var(--primaryColor) !important;
}

.content-block{margin-top: 40px; border-radius: 10px; background: #f5faff; padding:2rem 2rem;}
.content-block h3{font-size: 1.2rem; color: var(--primaryColor); margin-bottom: 10px;}


/* Appointment block */
.appointment-block{background: url(../images/bg1.jpg) center center / cover; background-attachment: fixed; background-size: 100%; background-repeat: no-repeat; position: relative; z-index: 1;}
.appointment-block::after{content: ""; position: absolute; background: rgba(0, 0, 0, 0.8); left: 0; top: 0; right: 0; bottom: 0; z-index: 2;}


.appoint-inner{padding: 50px 0px; display: flex; color: #fff; justify-content: center; flex-direction: column; align-items: center; position: relative; z-index: 3;}
.appoint-inner h5{font-size: 1rem; font-weight: 600;}
.appoint-inner h2{font-size: 3rem; margin: 40px 0px; font-weight: 700; position: relative; font-family: var(--fPlay); text-align: center;}
.appoint-inner h2::before{position: absolute; content: ""; background: var(--primaryColor); height: 4px; width: 100px; left: 0; right: 0; top: -15px; margin: auto;}

.appoint-btn{margin: 30px 0px 0px 0px; display: flex; align-items: center; gap: 10px;}

.appoint-btn a{border-radius: 30px; color: #fff; border: solid 2px #fff; font-size: 1rem; padding: 15px 40px; cursor: pointer;}

.appoint-btn a:nth-child(1){background: var(--primaryColor); border-color: var(--primaryColor);}
.appoint-btn a:nth-child(2){background: transparent;}
.appoint-btn a:nth-child(2):hover{background: var(--light); color: var(--secondaryColor);}


/* ayurved Block */
.ayurved-block{background: url(../images/ayurved.jpg) center center / cover  no-repeat; padding: 110px 0; position: relative; z-index: 1;}
.ayurved-block::before{position: absolute; content: ""; top: 0; left: 0; right: 0; bottom: 0; z-index: 2; background: rgba(255, 255, 0255, 93%);}

.ayur-content-block{padding:40px 25px; text-align: center; border: solid 2px rgb(30, 39, 46, 0.3); position: relative; z-index: 3;}
.ayur-content-block:hover{border-color: var(--primaryColor);}


.ayurved-block figure{margin-bottom: 20px;}
.ayur-content-block .text{display: flex; align-items: center; justify-content: center; flex-direction: column;}
.text h4{font-size: 1.4rem; color: var(--secondaryColor); font-weight: 700; margin-bottom: 20px; font-family: var(--fPlay);}


/* our product */
.product-thumb{position: relative; margin-bottom: 1rem;}
.product-thumb a{display: block;}
.product-thumb-img{max-width: 100%; height: auto;}
.offer{
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 5;
    padding: 0.4rem 0.8rem;
    background: var(--primaryColor);
    color: var(--light);
    font-size: 1rem;
    cursor: pointer;
    border-radius: 20px;
}
.product-info{padding: 0 1rem; display: flex; flex-direction: column; color: var(--secondaryColor);}
.category-name{font-size: 1rem;}
.productName{display: block; font-size: 1.2rem; color: var(--secondaryColor); margin: 10px 0px; font-weight: 600;}
.price{margin-bottom: 10px;}
.price .old-price{text-decoration: line-through; opacity: 0.4; font-weight: 600;}
.price .new-price{font-weight: 600;}
.price > span{margin: 0 4px 0 0;}


/* ayurved-says */

.ayurved-says{background: #f7f4eb; padding: 100px 0 50px;}
.ayurved-says .says_block{position: relative; text-align: center; margin: 0px; font-family:var(--fLato); }

.says_block .says_quote{margin: 0px auto 20px;}
.says_quote i{color: var(--primaryColor); font-size: 50px;}
.says_block p{color: var(--secondaryColor); font-size: 18px; font-weight: 400; line-height: 35px; margin:40px 0px 0px;}
.says_block .says-info .thumb{border-radius: 50%; margin-bottom: 22px; height: 76px; width: 76px;}
.says_block .says-info p{font-size: 22px;  margin: 0;}
.says_block p span{display: inline-block; font-size: 15px; font-weight: 300;}  


/* Footer */
footer{background: var(--primaryColor); padding: 30px 0px;}
footer p{font-size: 14px; text-align: center; color: var(--light);}



@media screen and (max-width: 980px) {   
    .col-t-4{flex-basis: 33.33%; max-width: 33.33%;}
    .col-t-12{flex-basis: 100%; max-width: 100%;}

    /* .banner-content .text{margin-right: 10%;} */
    .content-block{padding: 1rem 1rem;}

    
    .ayur-content-block{margin-bottom: 20px; padding: 30px 15px;}

    .text h4{font-size: 1.1rem; margin-bottom: 10px;}

    
    .ayurved-block{padding: 60px 0px;}
    .product-category-list{margin-bottom: 20px; border: solid 1px rgb(30, 39, 46, 0.3);}
}

@media screen and (max-width: 767px) {

    
    .col-m-6{ flex-basis: 50%; max-width: 50%; }
    .col-m-12{ flex-basis: 100%; max-width: 100%; }

    .navigation .mobile_menu {color: var(--primaryColor); display: block; font-size: 18px;}
    .navigation nav{display: none;}
    .banner-content{padding: 30px 0px 0px 0px;}
    .banner-content .text{margin: 10px; padding: 30px;}
    .banner-content .text h1{font-size: 2.4rem;}
    .banner-content .text .buy{padding: 10px 35px;}


    .heading-block h2.title{font-size: 2rem; margin-bottom:30px}

    .content-block{margin-top: 20px; padding: 1.5rem 1.5rem;}
    .content-block h3{font-size: 1.1rem;}
    .appoint-inner h2{font-size: 2rem; text-align: center; margin: 20px 0px;}
    .appoint-btn a{padding: 10px 20px;}

    .ayurved-block{padding: 40px 0px;}

    .ayur-content-block{margin-bottom: 20px; padding: 30px 15px;}

    .text h4{font-size: 1.1rem; margin-bottom: 10px;}

    .section-block{padding: 30px 0px;}

    .product-category-list{margin-bottom: 20px; border: solid 1px rgb(30, 39, 46, 0.3);}
    .ayurved-says{padding: 50px 0px;}
    .says_block p{font-size: 16px; line-height: 1.5;}
    .says_block .says-info .thumb{margin: 10px 0px;}
}



@media screen and (max-width: 460px) {
    .col-p-12{ flex-basis: 100%; max-width: 100%; }
}